<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forezp.api.mapper.RequestRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.forezp.api.entity.RequestRecord">
        <id column="id" property="id"/>
        <result column="requestor_id" property="requestorId"/>
        <result column="requestor_name" property="requestorName"/>
        <result column="request_Interface" property="requestInterface"/>
        <result column="request_business_id" property="requestBusinessId"/>
        <result column="request_time" property="requestTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, requestor_id, requestor_name, request_Interface, request_business_id, request_time
    </sql>


    <insert id="insertSelective" parameterType="com.forezp.api.entity.RequestRecord" useGeneratedKeys="true"
            keyProperty="id">
        insert into `sys_journal`.`request_record`
        <trim prefix='(' suffix=')' suffixOverrides=','>
            <if test="id != null">
                id,
            </if>
            <if test="requestorId != null">
                requestor_id,
            </if>
            <if test="requestorName != null">
                requestor_name,
            </if>
            <if test="requestInterface != null">
                request_Interface,
            </if>
            <if test="requestBusinessId != null">
                request_business_id,
            </if>
            <if test="requestTime != null">
                request_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="requestorId != null">
                #{requestorId,jdbcType=VARCHAR},
            </if>
            <if test="requestorName != null">
                #{requestorName,jdbcType=VARCHAR},
            </if>
            <if test="requestInterface != null">
                #{requestInterface,jdbcType=VARCHAR},
            </if>
            <if test="requestBusinessId != null">
                #{requestBusinessId,jdbcType=VARCHAR},
            </if>
            <if test="requestTime != null">
                #{requestTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
</mapper>
