<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forezp.api.mapper.BusinessMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.forezp.api.entity.Business">
        <id column="id" property="id" />
        <result column="wechat_public_openid" property="wechatPublicOpenid" />
        <result column="wechat_procedures_openid" property="wechatProceduresOpenid" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="state" property="state" />
        <result column="automatic" property="automatic" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, wechat_public_openid, wechat_procedures_openid, name, phone, state, automatic
    </sql>

</mapper>
