server:
  port: 8761

spring:
  application:
    name: service-eureka

eureka:
  instance:
    hostname: localhost
    leaseRenewalIntervalInSeconds: 30
  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
  server:
    ### 测试时候关闭自我保护机制，保证不可用服务能及时剔除，生产环境建议开启
    enable-self-preservation: true
    renewalPercentThreshold: 0.49
    renewalThresholdUpdateIntervalMs : 2000 #间隔2秒剔除一次